<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-5 center-block" align=center>
                <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/vinaysangawar/"><i class="fa fa-linkedin"></i></a>
                <a class="btn btn-social-icon btn-github" href="https://github.com/vinaysangawar"><i class="fa fa-github"></i></a>
                <a class="btn btn-social-icon" href="mailto:vinaysangawar@gmail.com"><i class="fa fa-envelope-o"></i></a>
            </div>
            <div class="col-xs-12 col-xs-offset-5 center-block" align=center>
                <br />
                <p>Vinay Sangawar</p>
            </div>
        </div>
    </div>
</footer>
